

.img-movie {
    width: 60%;
    height:60%;
//    grid-column: 2 / 2;
//    display: block;
//    max-width: 100%;
 }

 .movie-card {
    margin-top: 15px;
    max-width: 25%;


}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.purchaseBtn:hover{
color: green
}

.fullCard{
    text-align: center
}