<mat-card-header>
  <mat-card-title><h2>{{movie.title}} {{movie.year}}</h2></mat-card-title>
  </mat-card-header>
<mat-card-content>
    <img class="img-movie" src="{{movie.img}}">
    <p>{{movie.descrShort}}  ({{movie.price}} $)</p>
</mat-card-content>        
<button *ngIf="purchaseButton" mat-button color="primary" (click)="buy()">Purchase <i class="fa fa-shopping-cart"></i></button>
<div class="button-row">
  <button *ngIf="removeController" style="color: red" mat-button color="warn" (click)="remove()">Remove <i class="fa fa-trash" aria-hidden="true"></i></button>
 </div>